.root{
    -fx-background-color: linear-gradient(to right, #e8c092, #f0e7ad)
}

.button {
    -fx-background-color: #d4a373;
    -fx-text-fill: #3e2723;
    -fx-font-weight: bold;
    -fx-background-radius: 15;
    -fx-border-color: #3e2723;
    -fx-border-radius: 15;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0, 0, 2);
    -fx-cursor: hand;
}


.button:hover {
    -fx-background-color: #e9edc9;
    -fx-translate-y: -2px;
}

.button:pressed {
    -fx-background-color: #faedcd;
    -fx-translate-y: 1px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 2, 0, 0, 1);
}
.square {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 10, 0.25, 0, 3);
}
